body {
    background-color: #160101;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.container {
    margin-top: 2%;
    width: 80%;
    height: 90vh;
    padding: 20px;
    background-color: #2d2d2d;
    border-radius: 5px;
    text-align: center;
    max-height: 80vh; /* Limit the height to allow scrolling */
    overflow-y: hidden; /* Add vertical scrolling if needed */
}

input[type="text"],
button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 3px;
}

input[type="text"] {
    width: 70%;
}

button {
    cursor: pointer;
    background-color: #444;
    color: #fff;
}

button:hover {
    background-color: #555;
}

.hidden {
    display: none;
}

.search-results {
    margin-top: 20px;
    text-align: left;
    max-height: 60vh; /* Limit the height of search results */
    overflow-y: auto; /* Add vertical scrolling if needed */
}

ul {
    list-style: none;
    padding: 0;
    margin: 10px 0; /* Adjusted margin */
    overflow-x: hidden;
}

ul li {
    margin-bottom: 10px;
}

.search-result {
    background-color: #555;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

.search-result h3 {
    margin-top: 0;
}

.search-result p {
    margin-bottom: 5px;
}

.search-result a {
    color: #9bf;
    text-decoration: none;
}

.search-result a:hover {
    text-decoration: underline;
    color: #7ff;
}

footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #888; 
    text-align: center;
    color: #ccc; 
    font-size: 14px;
  }
  
  footer p {
    margin: 0;
  }
